.item1 {
    background-color: aqua;
}

.item2 {
    background-color: rgb(239, 15, 232);
}

.item3 {
    background-color: rgb(81, 21, 170);
}

@media(max-width:600px){
    body{
        background-color: red;
    }
}