.container {
  display: grid;
  grid-template-columns: repeat(1fr 1fr 1fr);
  background-color: red;
  height: 100vh;
}

.item1 {
  background-color: aqua;
  width: 30%;
}

.item2 {
  background-color: rgb(239, 15, 232);
  width: 30%;
}

.item3 {
  background-color: rgb(81, 21, 170);
  width: 30%;
}
