.container {
  display: grid;
  grid-template-columns: 1fr;
  
  height: 100vh;
}

.item1 {
  background-color: aqua;
  
}

.item2 {
  background-color: rgb(239, 15, 232);
  
}

.item3 {
  background-color: rgb(81, 21, 170);
  
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}